.code-example-world {
    left: 0%;
    position: relative;
    top: 8vw;
  }
  .floor {
    height: 200px;
    width: 200px;
  }
  .plane {
    height: 50px;
    width: 50px;
  }


.isometric__container{
  border: solid black;
}
.foundation {
  position: relative;
}

  .top {
    height: 450px;  /*X Side*/
    width: 230px; /*Y Side*/
    border: solid red;
  }
  .side {
    height: 10px;  /*Z Side*/
    width: 450px; /*X Side*/
    border: solid forestgreen
  }
  .front {
    height: 10px;  /*Z Side*/
    width: 230px; /*Y Side*/
    border: solid blue;
  }